:root {
    --color-darkblue: #0A3871;
    --color-lightblue: #F3F5FC;
    --gray-descriptions: #495057;
    --darkgray: #343A40;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background: var(--color-lightblue);
}
.navbar-menu {
    padding: 15px;
}
.logo-container {
    line-height: 0;
}
.logo-img {
    cursor: pointer;
}
.encrypter-box {
    padding: 15px;
    margin-top: 30px;
}
.encrypter-content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 35px;
}
.textArea-ed {
    width: 100%;
    height: 220px;
    font-size: 32px;
    color: var(--color-darkblue);
    background: none;
    border: none;
    outline: none;
}
.textArea-ed::placeholder {
    color: var(--color-darkblue);
}
.info {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--gray-descriptions);
}
.btns-box {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    gap: 20px;
}
.btns {
    width: 100%;
    font-size: 16px;
    color: white;
    background: none;
    border: 1px solid var(--color-darkblue);
    border-radius: 24px;
    padding: 22px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn--blue {
    background: var(--color-darkblue);
}
.btn--no-bk {
    color: var(--color-darkblue);
}
.encrypter-content-right {
    margin-top: 50px;
}
.message-container {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 24px;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}
.illustration-ft {
    display: none;
}
.h2-title {
    color: var(--darkgray);
    margin-bottom: 20px;
}
.insert-text-info {
    color: var(--gray-descriptions);
    line-height: 27px;
}
.btn-copy {
    display: none;
    color: var(--color-darkblue);
}
@media (min-width: 600px) {
    .navbar-menu {
        padding: 25px;
    }
    .encrypter-box {
        padding: 25px;
    }
    .btns-box {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media (min-width: 768px) {
    .navbar-menu {
        padding: 25px 40px;
    }
    .encrypter-box {
        padding: 40px;
    }
}
@media (min-width: 980px) {
    .navbar-menu {
        max-width: 960px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
    .encrypter-box {
        max-width: 960px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin: 0 auto;
        padding: 50px 0;
    }
    .content-bottom {
        padding-bottom: 30px;
    }
    .encrypter-content-right {
        margin: 0;
    }
    .message-container {
        width: 320px;
        height: 100%;
        justify-content: center;
    }
    .illustration-ft {
        display: block;
    }
}